.secret-page{
  margin: 10px;
  min-height: 400px;
  height: auto;
  width: 500px;
  border-radius: 5px;
  background-color: white;
  padding-bottom: 0px;
}

.secret-card {
 background-image: url(../picture/secretcard.jpg);
  min-height: 340px;
    height: 85%;
   display: flex;
   overflow-y: inherit;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
 .profile{
   height: 30px;
   object-fit: contain;
 }
 .profile-div{
  padding: 3px;
display: flex;
height: auto;
flex-direction: row;
align-items: center;
justify-content:space-between;
border-bottom: 0.5px solid black;

 }
 span{
  font-weight: bold;
 }
  .secret-text{
    height: 100%;
    font-size: larger;
  }
  
 .comment-like{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
 } 

 .input-comment{
display: flex;
width: 100%;
height:auto;
align-items: start;
justify-content: start;
 }
.comment-btn{
  font-weight: bold;
}
 .comment-btn:hover{
text-decoration: underline;
cursor: pointer;
color: rgb(72, 168, 168);
 }
 .like:hover{
  transform: scale(1.15);
cursor: pointer;
 }
 .dislike:hover{
  transform: scale(1.15);
  cursor: pointer;
 }
 .material-symbols-outlined-red {
  color: rgb(235, 41, 41);
font-variation-settings:
'FILL' 1,
'wght' 400,
'GRAD' 0,
'opsz' 24
}
.material-symbols-outlined{
  cursor: pointer;
}
.view-all-comment{
  color: blanchedalmond;
  font-weight: bold;
}
.view-all-comment:hover{
cursor: pointer;
text-decoration: underline;
}
.like-show{
  margin-left: 5px;
  font-weight: bold;
  color: blanchedalmond;
}
.comment-input-box{
 width:85%;
 height:100%;
}
.comment-post-box{
  width:15%;
  height:100%;
 }
@media only screen and (max-width: 600px) {
  .secret-page {
    width:90%;
  }
  .secret-text{
    font-size: medium;
  }
  .comment-input-box{
    width:75%;
    height:100%;
   }
   .comment-post-box{
     width:25%;
     height:100%;
    }
  

}