.secret-box-outerside{
background-image: url('../picture/background.jpg');
background-size: cover;
height: 100vh;
}

.content{
    display:inline-flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    
   
}
.secret-box-innerside{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;  
height:80vh;
width: 500px;

}
.content-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.textarea-div{
    height: 85%;
    width: 100%;
    background-image: url('../picture/secretcard.jpg');
    border-radius:5px;
 }
 .textarea{
    background: none;
font-size:larger;
height: 100%;
width: 100%;
border: none;
color: black;
font-weight: 300;
font-size: large;
font-display:initial;

 }
 

 .input-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content:center;
    margin: 0px;
    height: 7%;
 }
 .input-btn1{
width: 85%;
height:100%;
 }
 .input-btn2{
width: 15%;
height:100%;
border: none;
 }
 .text-written{
    border: none;
    width: 100%;
    height:100%;
   border-bottom: 1px solid black;
   color: black;
}
 .post-btn{
    border: none;
    width:100%;
    height: 100%;
   font-weight: bold;
   text-align: center;
border-bottom: 1px solid black;
border-left: 1px solid black;
    }

    .post-btn:hover{
        cursor: pointer;
        text-decoration: underline;
    }

    @media screen and (max-width: 560px) {
        .secret-box-innerside {
            width: 450px;
        }
    }
    @media screen and (max-width: 460px) {
        .secret-box-innerside {
            width: 350px;
        }
        .input-btn{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            justify-content:center;
            margin: 0px;
            height: 7%;
         }
         .input-btn1{
            width: 100%;
            height:100%;
             }
             .input-btn2{
            width: 100%;
            height:100%;
            border: none;
             }
             .post-btn{
                border: none;
                width:100%;
                height: 100%;
               font-weight: bold;
               text-align: center;
            border-bottom: 1px solid black;
           margin-top: 5px;
                }
    }
    @media screen and (max-width: 360px) {
        .secret-box-innerside {
            width: 250px;
        }
    }
    